<div class='container article-content'>
  <h2 class='rina-title'><%= @article.title %></h2>
  <div class='content markdown'>
    <%= sanitize @article.content %>
  </div>
  <div class='btn-like'>
     <%= hidden_field_tag 'article_id', @article.id %>
    <button class='btn btn-danger btn-rounded', id='is_not_like'>
      <p><span class='is_not_like_count'><%= @article.liked_count %></span>喜欢</p>
    </button>
    <button class='btn btn-info btn-rounded', id='is_like'>
      <p><span class='is_like_count'><%= @article.liked_count %></span>喜欢</p>
    </button>
  </div>
  <!-- JiaThis Button BEGIN -->
  <div class='share-btn'>
    <div class="jiathis_style">
      <a class="jiathis_button_tools_1"></a>
      <a class="jiathis_button_tools_2"></a>
      <a class="jiathis_button_tools_3"></a>
      <a class="jiathis_button_tools_4"></a>
      <a href="http://www.jiathis.com/share?uid=1938659" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    </div>
    <script type="text/javascript">
  var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1396150363049965" charset="utf-8"></script>
  </div>
  <!-- JiaThis Button END -->
</div>

<div class='comments-warp'>
  <div class='container'>
    <div class='create-comment'>
      <%= render 'message/flash' %>
      <%= form_for @comment, url: comments_path(article_id: @article.id) do |f| %>
        <div class='form-group'>
          <%= f.text_area :message, rows: '3', class: 'form-control', placeholder: '留言...' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :username, value: cookies[:username], class: 'form-control form-comment', placeholder: '你的名字' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :email, value: cookies[:email], class: 'form-control form-comment', placeholder: '邮箱' %>
        </div>
        <div class='form-group'>
          <%= f.submit '发表', class: 'btn btn-default btn-rounded' %>
        </div>
      <% end %>
    </div>
    <div class='form-group'>
      <% if @comments.present? %>
        <div class='comment-diag'></div>
      <% end %>
      <% @comments.each_with_index do |comment, index| %>
        <div class='comment-wrapper'>
          <p class='name'>
            <%= comment.username %>  •
            <span class='created-at'><%= comment.data_time %></span>
          </p>
          <p class='comment-content'>
            <%= comment.message %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
