<h1>OUR PRESS 媒体</h1>
<div class='press-info'>
  <p>
  <%= link_to 'Shenzhen Local News Channel', 'http://mp.weixin.qq.com/s?__biz=MzA4NDc2NDEzMw==&mid=242027855&idx=1&sn=ba28cf065ec1bda984d2e2b878c84e2f&scene=2&from=timeline&isappinstalled=0#rd' %>
  </p>
  <p><%= link_to 'The Shanghaiist', 'http://shanghaiist.com/2014/03/04/well_lid_scrawl_in_shenzhen.php' %></p>
  <p><%= link_to 'Nandu New Paper', 'http://epaper.oeeee.com/H/html/2014-01/11/node_2792.htm' %></p>
  <p><%= link_to 'NDDaily', 'http://ndphotos.oeeee.com/album/201403/04/11472.html' %></p>
  <p><%= link_to 'Tencent QQ', 'http://gd.qq.com/a/20140305/003680.htm#p=1' %></p>
  <p><%= link_to 'Nandu Online', 'http://paper.nandu.com/nis/201401/11/165301.html' %></p>
</div>
