<h1>OUR TEAM 我们的团队</h1>
<div class='team-info'>
  <p>Ashley Tang Liu 唐柳 (Founder 创办人)</p>
  <p>Ashley, originally from Sichuan province, moved to Shenzhen in 2004 to study and pursue her career in the shipping industry. Since arriving in Shenzhen, Ashley has developed a connection with like-minded people who share her passion for her adopted city and her dreams of living in harmony with her surroundings.  Through working with ECS, Ashley and her co-founders aim to enhance their surroundings through artistic expression – accessible to all, in busy and public areas, that stimulate interest and enjoyment but most of all lifts the spirits of those who experience it.</p>
  <p>Ashley 唐柳来自四川，2004 年来深读书，毕业后在物流行业工作。在深圳的几年里，Ashley 结交了许多志同道合，热爱生活的朋友，大家都想在深圳这个梦想之城发挥自己的才能，并希望居住在一个和谐舒适的社区。创办 ECS 给 Ashley 和其他创始伙伴们一个绝佳的机会 – 通过艺术表现的形式来美化身边环境，她们的项目大多在一些人流密集的公共区域，有兴趣的大众都可以参与其中，从而让艺术变得亲民，最重要的是，参与者通过对项目的亲身体验可以提高对自己，对城市美化的认识。</p>
  <%= image_tag('Ashley.jpg') %>
  <p>Zoe Latham 佐伊，(Co- Founder 合办人)</p>
  <p>Zoe moved to Shenzhen in 2012 having gained her Bachelor’s degree in Architecture in England, her home country.  Zoe has a passion for adventure and enjoys immersing herself in new and exciting cultures.  As a co-founder of ECS, Zoe has built strong relationships with creative people who share her sense of place and passion for art and love of painting and acts as a creative advisor to E.C.S.  Working in Architecture – Zoe understands the impact that design and surroundings have on quality of life and fulfillment.</p>
  <p>Zoe 在故乡英国拿到建筑学士学位后于 2012 年来到深圳。她喜欢冒险，追求新鲜事物，乐于尝试和接受各种有趣的新文化。作为 ECS 的创办者之一，Zoe 已经接触过许多同样对艺术和绘画有着无比热情的创意人士，所以她非常适合担任 ECS 的创意总监。而受多年建筑设计行业的熏陶，Zoe 比一般人更加懂得创意设计和周边环境对人们生活和追求的重要影响。</p>
  <%= image_tag('Zoe.jpg') %>
  <p>Brian Bean 高大豆 (Co- Founder 合办人)</p>
  <p>Brian has a degree in Far East Asian Studies and a background in service and volunteering. Brian has dedicated himself to being a consultant and co – founder of E.C.S. His role within in the company is that of English content design, experienced advisor and management. Years of service and leadership and volunteering has taught him the importance of participant interaction, reflection and education as a keystone to successful volunteering.</p>
  <p>Brian 拥有远东亚洲研究学位和多年的志愿服务经验。作为 ECS 的顾问和创办人之一，Brian 负责英语文字稿的编辑，提供管理运营经验等。多年的志愿服务和团队领导经验让Brian 深知，一个成功的志愿组织离不开志愿者们的互相协助，沟通和学习。</p>
  <%= image_tag('Brian.jpg') %>
  <p>Camille Liao 廖雪燕 (Co- Founder 合办人)</p>
  <p>Camille, born and raised in Shenzhen, gained a degree from Guangzhou then returned to Shenzhen and has been working in the trading industry ever since. As a Shenzhen native, Camille loves her city and has enjoyed witnessing the rapid growth of Shenzhen. Camille has a passion for travelling and exploring unknown places, and spends her free time finding beautiful areas of her city. Camille initiated the of Tian An Cyber park manhole cover painting projects, together with Ashley. Camille believes that everyone can change the world and make it better by starting with a small idea. With Camille’s linguistic abilities she connects locals and foreigners, and together carry out more diverse and cosmopolitan projects to make her hometown more lovely.</p>
  <p>Camille 廖雪燕在深圳出生长大，在广州拿到学士学位后又回到深圳，现今一直在外贸行业工作。作为一个土生土长的深圳人，Camille 非常热爱她的城市，并见证了深圳的飞速发展。Camille 喜欢旅游和探索一切未知的地方，闲时她经常在深圳各处乱逛，发现和分享深圳的美好。Camille 最近和 Ashley 一起，在福田天安数码城发起了一个井盖涂鸦的公益项目，受到社会的广泛关注。Camille 相信，每个人都可以通过一个小小的念想去改变世界，把世界变得更加美好，只要勇敢地踏出行动的那一步。Camille 擅长语言沟通交流，她能为ECS 召集各种本地和外国人才，让他们共同参与到未来更多不同的城市改造以及美化项目中去，把深圳变得更加美丽。</p>
  <%= image_tag('Camille.jpg') %>
  <p>Rebecca Chen 陈冬玲</p>
  <p>Rebecca is from Guangdong and works as an office employee in Shenzhen. She loves drawing and traveling. Largely self-taught, she likes to experiments with different kinds of drawings, she can always find enjoyment from drawing, therefore, she enjoys partaking in ECS activities and hopes by doing this she can be a part of making the city she lives in become more creative and interesting. Traveling inspires her street art a lot and she hopes someday Shenzhen will become a city full of street art.</p>
  <p>作为一名普通的白领，Rebecca 来自广东，喜欢画画和旅行。她的画主要都是通过自学的，她可以从不同的画作中找到生活的激情，因此，她很热衷参加 ECS 的各种活动并希望她所住的城市会变得更加有创意，有意思。旅行也给她带来了很多街头创作的灵感，她希望未来深圳也可以变成一座富有街头创作的城市。</p>
  <%= image_tag('Rebecca.jpg') %>
</div>
