<h3>所有文章</h3>
<table class="table">
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td><%= article.data_time %></td>
      <td>喜欢(<%= article.liked_count %>)</td>
      <td><%= link_to "评论", admin_comments_path(article_id: article.id) %></td>
      <td><%= link_to "编辑", edit_admin_post_path(article) %></td>
      <td><%= link_to "删除", admin_post_path(article), method: :delete, data: { confirm: "确认删除?" } %></td>
    </tr>
  <% end %>
</table>
