<!DOCTYPE html>
<html>
<head>
  <title>SZ EXPLORE CREATE SHARE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container home-container'>
    <div class='logo'>
      <h1>EXPLORE CREATE SHARE</h1>
    </div>
    <a class='next-btn' href='#home'><%= image_tag('next-btn.png') %></a>
  </div>
  <nav class="navbar navbar-default template-navbar">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav home-title">
        <li><a name='home'></a></li>
        <li><%= link_to '主页' %></li>
        <li><%= link_to '所有' %></li>
        <li><%= link_to '关于' %></li>
        <li><%= link_to '团队' %></li>
        <li><%= link_to '历史' %></li>
        <li><%= link_to '媒体' %></li>
        <li><%= link_to '加入' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-search search" aria-hidden="true"></span></li>
      </ul>
    </div>
  </nav>
  <div class='home-index container'>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
