<!DOCTYPE html>
<html>
<head>
  <title>SZ EXPLORE CREATE SHARE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maxminium-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id='template-body'>
  <%= render 'layouts/navbar_warpper' %>
  <div class='container'>
    <div class='row'>
        <%= yield %>
    </div>
  </div>
  <%= render 'layouts/comments' %>
  <%= render 'layouts/footer' %>
</body>
</html>
